{{> menu active="allPlacemarks"}}

<section class="section">
   {{> filter-placemarks}}
  <div class="box box-link-hover-shadow has-background-info is-size-6 has-text-weight-normal">
    <div class="title has-text-white">
      All of your Placemarks
    </div>
   {{> list-all-placemarks}}
  </div>
</section>
