{{> menu}}

<section class="section">
  <div class="box box-link-hover-shadow has-background-info">
  <div class="title has-text-white">
    {{list.title}}
  </div>
  {{> list-placemarks}}
  </div>
  {{> add-placemark}}
</section>
