{{> welcome-menu}}

<div class="card has-background-info has-text-white">
<section class="section">
  <div class="column has-text-centered">
    <div class="is-size-2 has-text-weight-bold">
      <h> Welcome to Coastal Legend </h>
    </div>
    <div class="is-size-4">
      <p>
        <br>
        To continue to our site, please Sign up or Log in
        <br>
        <br>
      </p>
    </div>
  </div>

</section>
</div>

  <div class="column has-text-centered">
    <img src="/images/coastalLegendLogo.png">
  </div>