{{> welcome-menu}}

<section class="section">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <img src="/images/coastalLegendLogo.png">
  </div>
</section>