{{> welcome-menu}}

<section class="section">
<div class="card has-background-info has-text-white">
    <section class="section">
        <div class="column has-text-centered">

            <div class="is-size-4">
                <p>
        To continue to our site, please Sign up or Log in
        <br>
                </p>
            </div>
        </div>

    </section>
</div>
</section>

<section class="section">
  {{> about}}
</section>


<div class="column has-text-centered">
    <img src="/images/coastalLegendLogo.png">
</div>