


<div class="card has-background-info has-text-white">
    <section class="section">
        <div class="column has-text-centered">
            <div class="is-size-2 has-text-weight-bold">
                <h> Welcome to Coastal Legend </h>
            </div>
            <div class="is-size-4">
                <p>
                    <br>
                    This application allows users to track placemarks along the coast, such as beaches, 
                    <br>
                    coastal paths and surf spots. You can create lists to group all of your placemarks,
                    <br>
                    as well as assigning a category to each placemark.
                </p>
            </div>
        </div>
    </section>
</div>