<div class="box box-link-hover-shadow has-background-info">
  <form action="/dashboard/addlist" method="POST">
    <div class="field">
      <label class="label has-text-white is-size-4">Add a New List:</label>
      <input class="input" type="text" placeholder="Enter list title" name="title">
    </div>
    <button class="button is-info is-light has-text-info-dark has-text-weight-bold">Add List</button>
  </form>
</div>