
  <form action="/dashboard/addlist" method="POST">
    <div class="field">
      <label class="label">List Title</label>
      <input class="input" type="text" placeholder="Enter list title" name="title">
    </div>
    <button class="button is-link">Add List</button>
  </form>
