<form class="box" action="/list/{{list._id}}/addattraction" method="POST">
  <label>Enter Attraction Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <div class="select">
            <select name="category">
              <option value="Beach">Beach</option>
              <option value="Surf Spot">Surf Spot</option>
              <option value="Mobile Sauna">Mobile Sauna</option>
              <option value="Coastal Path">Coastal Path</option>
              <option value="Diving Board">Diving Board</option>
              <option value="Snorkelling">Snorkelling</option>
            </select>
          </div>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Attraction</button>
</form>
