<form class="box box-link-hover-shadow has-background-info" action="/list/{{list._id}}/addplacemark" method="POST">
<div class="has-text-white is-size-4 has-text-weight-bold">
  <label>Enter Placemark Details:<br></label>
  </div>
    <br>
  <div class="field is-horizontal">

    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <div class="select">
            <select name="category">
              <option value="Beach">Beach</option>
              <option value="Surf Spot">Surf Spot</option>
              <option value="Mobile Sauna">Mobile Sauna</option>
              <option value="Coastal Path">Coastal Path</option>
              <option value="Diving Board">Diving Board</option>
              <option value="Snorkelling">Snorkelling</option>
            </select>
          </div>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-info is-light has-text-info-dark has-text-weight-bold">Add Placemark</button>
</form>