
<div class="has-text-white is-size-4 has-text-weight-bold">
 <div class="buttons">
          <a id="allPlacemarks" class="button" href="/dashboard/allPlacemarks"> All Placemarks </a> 
          <a id="beach" class="button" href="/dashboard/categories?category=Beach"> Beach </a> 
          <a id="surfSpot" class="button" href="/dashboard/categories?category=Surf Spot"> Surf Spot </a> 
          <a id="mobileSauna" class="button" href="/dashboard/categories?category=Mobile Sauna"> Mobile Sauna </a> 
          <a id="coastalPath" class="button" href="/dashboard/categories?category=Coastal Path"> Coastal Path </a> 
          <a id="divingBoard" class="button" href="/dashboard/categories?category=Diving Board"> Diving Board </a> 
          <a id="snorkelling" class="button" href="/dashboard/categories?category=Snorkelling"> Snorkelling </a> 
        </div>

